.page-quiz {
  height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  align-items: center;

  .question-card {
    width: 60%;

    .question {
      margin: 30px 10px;
      text-align: center;
    }

    .answers-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 10px;
      margin: 10px;
    }

    .card-footer {
      display: flex;
      justify-content: center;
      margin: 30px 0;
    }
  }
}
