.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 15px;
  background-color: #cdeefd;
  height: 30px;

  button {
    font-weight: bold;
  }

  .title {
    margin-right: auto;
  }

  .right-button {
    margin-left: 10px;
  }
}
